:root {
    --green400: hsl(172, 67%, 45%);
    --green500: hsl(183, 100%, 15%);
    --grey500: hsl(186, 14%, 43%);
    --grey400: hsl(184, 14%, 56%);
    --grey200: hsl(185, 41%, 84%);
    --grey50: hsl(189, 47%, 97%);
    --white: hsl(0, 100%, 100%);
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Space Mono", sans-serif;
    background-color: var(--grey200);
    margin: 150px auto;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: white;
    display: flex;
    justify-content: center;
    max-width: 100%;
    width: 50%;
    border-radius: 20px;
    height: auto;
    gap: 30px;
    padding: 20px;
}

.user-input {
    max-width: 100%;
    width: 40%;
    margin: 20px;
    
}

button {
    background-color: var(--green500);
    color: white;
    padding: 5px;
    border-radius: 5px;
    max-width: 100%;
    width: 30%;
    font-family: "Space Mono", sans-serif;
    font-weight: 700;
    font-size: 1.3em;
    margin: 8px auto;
    border: 1px solid transparent;
}

.custom {
    text-align: right;
    background-color: var(--grey50);
    color: var(--green500);
    padding: 5px;
    border-radius: 5px;
    max-width: 100%;
    width: 30%;
    font-family: "Space Mono", sans-serif;
    font-weight: 700;
    font-size: 1.3em;
    margin: 8px auto;
    border: 1px solid transparent;
}

.select-tip {
    margin: 35px  auto;

}

::placeholder {
    font-family: "Space Mono", sans-serif;
    color: var(--green500);
    text-align: right;
    font-weight: 700;
    font-size: 1.2rem;
}

.user-input h4 {
    color: var(--grey500);
}

#bill-input, #people-input{
    background-color: var(--grey50);
    border: none;
    padding: 10px;
    border-radius: 5px;
    max-width: 100%;
    width: 95%;
    font-family: "Space Mono", sans-serif;
    font-size: 1.2rem;
    text-align: right;
    color: var(--green500);
    font-weight: 700;
}


.money-logo {
    background-image: url('./images/icon-dollar.svg');
    background-repeat: no-repeat;
    display: flex;
    background-position: 20px center;
}

.people-logo {
    background-image: url('./images/icon-person.svg');
    background-repeat: no-repeat;
    display: flex;
    background-position: 20px center;
}

.result-total {
    background-color: var(--green500);
    border-radius: 15px;   
    max-width: 100%;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: auto;
    height: 350px;
}

.result-total h4 {
    color: white;
}

.result-total p {
    color: var(--grey400);
    font-size: .8rem;
}

.tip-amount {
    margin: 5px;
}

.reset {
    max-width: 100%;
    width: 80%;
    border-radius: 5px;
    border: 1px solid transparent;
    padding: 5px;
    background-color: var(--green400);
    color: var(--green500);
    font-weight: 700;
    
}

.active {
    background-color: var(--green400);
    color: var(--green500);
}

.show-result {
    font-size: 1rem;
    color: var(--green500);
}
